.git
.gitignore
.gitattributes
node_modules
vendor
.env
.env.local
.env.*.local
.phpunit.result.cache
Jenkinsfile
docker-compose*.yml
*.md
!README.md
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.vscode
.idea
*.zip
